<!---<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <table>
            <tr>
                <td>Email</td>
                <td><input type="email" name="txt_email" id=""></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="password" name="txt_password" id=""></td>
            </tr>
            <tr>
                <td colspan="2" align="center"><input type="submit" value="Login"></td>
            </tr>
        </table>
    </form>
    {% if msg %}
    <script>
        alert("{{msg}}")
    </script>
    {% endif %}
</body>
</html>
--->


{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="{% static 'Login/assets/css/bootstrap.min.css'%}" rel="stylesheet">
    <link href="{% static 'Login/assets/css/font-awesome.min.css' %}" rel="stylesheet">
        <link href="{% static 'Login/assets/css/style.css' %}" rel="stylesheet">
    

    <title>Form</title>
  </head>
  <body>
    <section class="form-08">
      <div class="container">
        <div class="row">
          <div class="col-12">

          <form action="" method="post">
                {% csrf_token %}
            <div class="_form-08-main">
              <div class="_form-08-head">
                <h2>Welcome Back</h2>
              </div>

              <div class="form-group">
                <label>Enter Your Email</label>
                <input type="email" name="txt_email" class="form-control" type="text" placeholder="Enter Email" required="" aria-required="true">
              </div>

              <div class="form-group">
                <label>Enter Password</label>
                <input type="password" name="txt_password" class="form-control" type="text" placeholder="Enter Password" required="" aria-required="true">
              </div>

              <div class="checkbox mb-0 form-group">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="">
                  <label class="form-check-label" for="">
                    Remember me
                  </label>
                </div>
               
              </div>

              <div class="form-group">
                
                    <input class="_btn_04" type="submit" value="Login">
                
              </div>

              <div class="sub-01">
                <!-- <img src="{% static 'Login/assets/images/shap-02.png' %}"> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    </form>
    {% if msg %}
    <script>
        alert("{{msg}}")
    </script>
    {% endif %}
  </body>
</html>