{% extends 'Publisher/Header.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookSwapConnect::Complaint</title>
</head>
<table>
<body>
    <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="txttitle">Title</label>
                <input type="text" name="txttitle" id="txttitle" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="txtcomp">Complaint</label>
                <textarea name="txtcomp" id="txtcomp" rows="6" class="form-control" required></textarea>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary mr-2">Send</button>
                <button type="reset" class="btn btn-secondary">Cancel</button>
            </div>
        </form>
    
</body>
</table>
</html>
{% endblock content %}