{% extends 'Publisher/Header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>SerialNo</th>
                    <th>Title</th>
                    <th>Complaint</th>
                    <th>Reply</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                {% for i in complaint %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ i.complaint_title }}</td>
                    <td>{{ i.complaint_desc }}</td>
                    <td>{{ i.complaint_reply }}</td>
                    <td>{{ i.complaint_date }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
{% endblock content %}