{% for i in data %}
			<div class="col-lg-3 col-md-6 card m-3">
				<div class="single-product">
					<img class="img-fluid" src="{{i.ubook_photo.url}}" alt="" style="height: 300px;">
					<div class="product-details">
						<h6>{{i.ubook_name}}</h6>
						<div class="price">
							<h6>{{i.ubook_price}}</h6>
							<h6 class="l-through">$210.00</h6>
						</div>
						<div class="prd-bottom">

							<a href="{% url 'User:AddcartUser' i.id %}" class="social-info">
								<span class="ti-bag"></span>
								<p class="hover-text">add to Cart</p>
							</a>
							<a href="{% url 'User:Viewmore' i.id %}" class="social-info">
								<span class="lnr lnr-move"></span>
								<p class="hover-text">view more</p>
							</a>
						</div>
					</div>
				</div>
			</div>

			{% endfor %}