{% extends 'User/Header.html' %}
{% load static %}
{% block content %}

{% load mathfilters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Serial No</th>
                    <th>Photo</th>
                    <th>Name</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Total</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for i in cart %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td><img src="{{i.product.pbook_photo.url}}" width="150" height="150" alt=""></td>
                    <td>{{i.product.pbook_name}}</td>
                    <td>{{i.cart_qty}}</td>
                    <td>{{i.product.pbook_price}}</td>
                    <td>{{i.cart_qty|mul:i.product.pbook_price}}</td>
                    <td>
                        {% if i.booking.booking_status == 5%}
                            <a href="{% url 'User:rating' i.id %}" class="btn btn-primary">Rate</a></td>
                        {% else %}
                        Not Delivered
                        {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- Bootstrap JS (Optional, if needed) -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
{% endblock content %}