{% extends 'User/Header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<style>
		.form-control {
			display: block;
			width: 25%;
			height: calc(2.25rem + 2px);
			padding: .375rem .75rem;
			font-size: 1rem;
			line-height: 1.5;
			color: #495057;
			background-color: #fff;
			background-clip: padding-box;
			border: 1px solid #ced4da;
			border-radius: .25rem;
			transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
		}

		.search-con {
			display: flex;
			gap: 1rem;
		}
	</style>
</head>

<body>

	<!-- single product slide -->
	<div class="container">
		<div class="search-con">
			<input type="text" class="form-control" name="search" placeholder="Search here...." id="searchHOtel" onkeyup="SearchKey()">
			<select name="sel_district" id="sel_district" class="form-control" onchange="SearchKey()">
				<option value="">District</option>
				{% for i in district %}
				<option value="{{i.id}}">{{i.district_name}}</option>
				{% endfor %}
			</select>
			<select name="sel_place" id="sel_place" class="form-control" onchange="SearchKey()">
				<option value="">Place</option>
			</select>
			<select name="sel_gen" id="sel_gen" class="form-control" onchange="SearchKey()">
				<option value="">Genre</option>
				{% for i in gen %}
				<option value="{{i.id}}">{{i.gen_name}}</option>
				{% endfor %}
			</select>
		</div>

		<div class="row" id="ajaxData">
			<!-- single product -->
			{% for i in data %}
			<div class="col-lg-3 col-md-6 card m-3">
				<div class="single-product">
					<img class="img-fluid" src="{{i.ubook_photo.url}}" alt="" style="height: 300px;">
					<div class="product-details">
						<h6>{{i.ubook_name}}</h6>
						<div class="price">
							<h6>{{i.ubook_price}}</h6>
							<h6 class="l-through">$210.00</h6>
						</div>
						<div class="prd-bottom">

							<a href="{% url 'User:AddcartUser' i.id %}" class="social-info">
								<span class="ti-bag"></span>
								<p class="hover-text">add to Cart</p>
							</a>
							<a href="{% url 'User:Viewmore' i.id %}" class="social-info">
								<span class="lnr lnr-move"></span>
								<p class="hover-text">view more</p>
							</a>
						</div>
					</div>
				</div>
			</div>

			{% endfor %}

		</div>
	</div>

	{% if msg %}
	<script>
		alert("{{msg}}")
		window.location = "{% url 'User:Search' %}"
	</script>
	{% endif %}

</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script>
	$("#sel_district").change(function () {
        var did = $(this).val();
		var bookName = document.getElementById("searchHOtel").value
		var pid = document.getElementById("sel_place").value
		var gid = document.getElementById("sel_gen").value
        var ur = "{% url 'Guest:ajaxplace' %}"
        $.ajax({
            url: ur,
            data: { did: did, },
            success: function (data) {
                $("#sel_place").html(data);

				var ur = "{% url 'User:Ajaxsearch' %}"
				$.ajax({
					url: ur,
					data: { bookName: bookName,pid: pid,did: did,gid: gid, },
					success: function (data) {
						$("#ajaxData").html(data);
					},
				});
            },
        });
    });

	function SearchKey() {
	var bookName = document.getElementById("searchHOtel").value
	console.log(bookName);
	var did = document.getElementById("sel_district").value
	console.log(did);
	var pid = document.getElementById("sel_place").value
	console.log(pid);
	var gid = document.getElementById("sel_gen").value
	console.log(gid);
	var ur = "{% url 'User:Ajaxsearch' %}"
	$.ajax({
		url: ur,
		data: { bookName: bookName,pid: pid,did: did,gid: gid, },
		success: function (data) {
			$("#ajaxData").html(data);
		},
	});
	}
</script>

</html>
{% endblock content %}