{% extends 'User/Header.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Serial No</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Photo</th>
                <th>Author Name</th>
                <th>Genre</th>
                <th>Quality</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for i in data %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ i.ubook_name }}</td>
                <td>{{ i.ubook_desc }}</td>
                <td>{{ i.ubook_price }}</td>
                <td><img src="{{ i.ubook_photo.url }}" width="150" height="150" alt=""></td>
                <td>{{ i.ubook_authname }}</td>
                <td>{{ i.ubook_genre.gen_name }}</td>
                <td>{{ i.ubook_qlty.quality_level }}</td>         
                <td><a href="{% url 'User:Acceptbook' i.id sid %}" class="btn btn-primary">Accept</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
{% endblock content %}