{% extends 'User/Header.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>SerialNo</th>
                    <th>Name</th>
                    <th>Photo</th>
                    <th>Price</th>
                    <th>Author</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for i in data %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ i.book.pbook_name }}</td>
                    <td><img src="{{ i.book.pbook_photo.url }}" class="img-fluid" width="150" height="150" alt=""></td>
                    <td>{{ i.book.pbook_price }}</td>
                    <td>{{ i.book.pbook_authname }}</td>
                    <td><a href="{% url 'User:WishlistDel' i.id %}" class="btn btn-danger">Remove</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

{% endblock content %}