<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="1">
        <tr>
            <td>SerialNo</td>
            <td>Title</td>
            <td>Complaint</td>
            <td>Reply</td>
            <td>Date</td>
        </tr>
        {% for i in complaint %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.complaint_title}}</td>
            <td>{{i.complaint_desc}}</td>
            <td>{{i.complaint_reply}}</td>
            <td>{{i.complaint_date}}</td>
        </tr>
        {% endfor %}
</table>
</body>
</html>