{% extends 'Admin/header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>User Complaints</p>
    <table border="1">
        <tr>
            <td>SerialNo</td>
            <td>Title</td>
            <td>Complaint</td>
            <td>Date</td>
            <td>Action</td>
        </tr>
        {% for i in usercomplaint %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.complaint_title}}</td>
            <td>{{i.complaint_desc}}</td>
            <td>{{i.complaint_date}}</td>
          <td>
                <a href="{% url 'webadmin:reply'  i.id %}">Reply</a>
            </td>
        </tr>
        {% endfor %}
</table>
<p>Publisher Complaints</p>
<table border="1">
    <tr>
        <td>SerialNo</td>
        <td>Title</td>
        <td>Complaint</td>
        <td>Date</td>
        <td>Action</td>
    </tr>
    {% for i in publishercomplaint %}
    <tr>
        <td>{{forloop.counter}}</td>
        <td>{{i.complaint_title}}</td>
        <td>{{i.complaint_desc}}</td>
        <td>{{i.complaint_date}}</td>
        <td>
            <a href="{% url 'webadmin:reply'  i.id %}">Reply</a>
        </td>
    </tr>
    {% endfor %}
</table>
    
</body>
</html>

{% endblock content %}